themes {
    catppuccin-macchiato {
        bg "#24273a"      // 背景色
        fg "#cad3f5"      // 前景色  
        red "#ed8796"     // 红色
        green "#a6da95"   // 绿色
        blue "#8aadf4"    // 蓝色
        yellow "#eed49f"  // 黄色
        magenta "#f5bde6" // 洋红色
        orange "#f5a97f"  // 橙色
        cyan "#8bd5ca"    // 青色
        black "#1e2030"   // 黑色
        white "#f4dbd6"   // 白色
    }
}
