themes {
    nord {
        bg "#2e3440"      // 背景色
        fg "#d8dee9"      // 前景色
        red "#bf616a"     // 红色
        green "#a3be8c"   // 绿色
        blue "#81a1c1"    // 蓝色
        yellow "#ebcb8b"  // 黄色
        magenta "#b48ead" // 洋红色
        orange "#d08770"  // 橙色
        cyan "#88c0d0"    // 青色
        black "#3b4252"   // 黑色
        white "#eceff4"   // 白色
    }
}
