themes {
    catppuccin-latte {
        bg "#eff1f5"      // 背景色
        fg "#4c4f69"      // 前景色  
        red "#d20f39"     // 红色
        green "#40a02b"   // 绿色
        blue "#1e66f5"    // 蓝色
        yellow "#df8e1d"  // 黄色
        magenta "#ea76cb" // 洋红色
        orange "#fe640b"  // 橙色
        cyan "#179299"    // 青色
        black "#5c5f77"   // 黑色
        white "#4c4f69"   // 白色
    }
}
