themes {
    gruvbox-dark {
        bg "#282828"      // 背景色
        fg "#ebdbb2"      // 前景色
        red "#cc241d"     // 红色
        green "#98971a"   // 绿色
        blue "#458588"    // 蓝色
        yellow "#d79921"  // 黄色
        magenta "#b16286" // 洋红色
        orange "#d65d0e"  // 橙色
        cyan "#689d6a"    // 青色
        black "#1d2021"   // 黑色
        white "#fbf1c7"   // 白色
    }
}
