themes {
    catppuccin-frappe {
        bg "#303446"      // 背景色
        fg "#c6d0f5"      // 前景色  
        red "#e78284"     // 红色
        green "#a6d189"   // 绿色
        blue "#8caaee"    // 蓝色
        yellow "#e5c890"  // 黄色
        magenta "#f4b8e4" // 洋红色
        orange "#ef9f76"  // 橙色
        cyan "#81c8be"    // 青色
        black "#232634"   // 黑色
        white "#f2d5cf"   // 白色
    }
}
